---
import { copy, REGISTER_URL } from '../../content/copy';
---

<div id="sticky-cta" class="sticky-cta" aria-hidden="true">
  <a href={REGISTER_URL} class="btn btn-primary w-full !py-3.5">{copy.hero.cta_primary}</a>
</div>
